.player {
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.playerNoBuzz {
    background-color: #318CE7;
}

.playerBuzz {
    background-color: gray;
}

.playerNoBuzz:hover, .playerBuzz:hover {
    background-color: red;
    transition: background-color 250ms;
}

.playerUsername {
    font-size: 1.25rem;
}
