.hostMainWrapper {
    position: absolute;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hostMain {
    height: 95%;
    width: 95%;

    background-color: white;

    border-radius: 20px;

    /* display: flex; */
    /* flex-direction: column; */
}

.hostMainInner {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    /* margin: 20px; */
}

.gameFooter {
    border-top: 5px solid red;

    display: flex;
    flex-direction: row;
}

.gameCodeWrapper {
    display: flex;
    flex-direction: row;
}

.gameCode {
    font-size: 2rem;
}

.mainComponentInner {
    /* flex-grow: 1; */

    background-color: white;
}

.actionButton {
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;

    font-size: 1.25rem;

    background-color: yellow;
}

.gameFooter {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.headerWrapper {
    padding-top: 20px;
}

/* ================================================================================ */

.gameBoardWrapper {
    flex: 1 1 0;
    padding: 20px;
    /* width: 100%; */
    display: flex;
    justify-content: center;

    overflow-y: hidden;
}

.gameBoard {
    background-color: white;
    flex: 1 1 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* margin-left: 3rem;
    margin-right: 3rem; */

    /* Extra values to ensure that this looks nice :)*/
    margin: 0 5% 5%;
}

.gameBoardTitle {
    margin: 30px 5px;
}

.playerHolderWrapper {
    background-color: darkgray;
    margin-bottom: 20px;
    display: flex;
    overflow-y: hidden;
    justify-content: center;
    width: 90%;
    border-radius: 10px;
    flex: 1 1 0;
    overflow-y: auto;
}


.playerHolder {
    /* width: 90%; */
    /* display: flex;
    flex-wrap: wrap; */
    padding: 0;
}

.playerHolder li {
    display: inline-block;
    margin: 10px;
}

.player {
    background-color: orange;
    padding: 10px;
    cursor: pointer;
}

.gameBoardFooter {
    width: 90%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row-reverse;
}

.actionButton {
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;

    background-color: yellow;
}

.actionButtonIcon {
    width: 20px;
    height: 20px;
}

.actionButtonText {
    padding: 5px 10px 5px 5px;
    margin: 0;
    color: black;
    text-align: center;
    font-size: 1rem;
}

.startButton {
    background-color: green;
}

/* .gameCode {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    margin: 10px;
} */

.gameCodeLoading {
    height: 10px;
    width: 10px;
    background-color: red;
    margin: 10px;
}

.dotFlashing {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
    margin-left: 30px;
    margin-right: 30px;
}

.dotFlashing::before, .dotFlashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dotFlashing::before {
  left: -25px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dotFlashing::after {
    left: 25px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: #9880ff;
    }
    50%, 100% {
      background-color: rgba(152, 128, 255, 0.2);
    }
  }

  /* Styles for the buzzer display */
.buzzerOuter {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;

    background-color: var(--fade-background-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.buzzerInner {
    background-color: white;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 20px;
}

.buzzerOptions {
    display: flex;
}

.correctButton {
    margin: 10px;
    flex: 1 1 0;
    font-size: 2rem;
    background-color: rgb(42, 163, 42);
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.incorrectButton {
    margin: 10px;
    flex: 1 1 0;
    font-size: 2rem;
    background-color: red;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.playerInfo {
    display: flex;
    flex-direction: row;
}

.playerInfoBlock {
    font-size: 2rem;
}

.continueButtonWrapper {
    flex: 1 1 0;
    height: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
}

.continueButton {
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;

    font-size: 1.25rem;

    background-color: yellow;

    height: 100%;
}